@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

:root{
    /* Fonte */
    --main-font: 'Cormorant Garamond', serif;
    /* Cores */
    --purple-black: #100c1d;
    --dark-purple: #18122B;
    --purple: #393053;
    --mid-purple: #443C68;
    --light-purple: #635985;
    --lilac-white: #e0d8f8;
}

body{
    background-color: var(--dark-purple);
    color: var(--lilac-white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--main-font);
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5rem;
    margin-top: 40px;
}

.box {
    background-color: var(--mid-purple);
    border: 2.5px solid var(--purple);
    box-shadow: 0 3px 5px var(--purple-black);
    display: inline-block;
    font-size: 4.5rem;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    
}

.btn-jogar{
    background-color: var(--purple);
    padding: 2rem;
    color: var(--lilac-white);
    font-family: var(--main-font);
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid var(--purple-black);
    box-shadow: 0 3px 5px var(--purple-black);
    cursor: pointer;
    margin-top: 20px;
}